.navbar{
    position: fixed;
    top: 0px;
    left: -400px;
    width: 400px;
    background-color:white;
    height: 100%;
    z-index: 100;
    transition: all 1s ease-in;
    line-height: 70px;
    padding-left:30px;
    @include mobile-only{
        width: 250px;
    }
    ul{
        li{
            a{
                color:black;
                font-size: $font-text-big;
            }
            &:hover{
                background-color: $color-hover;
            }
            cursor: pointer;
        }
    }

  
}